.task {
  padding: 8px;
}

.task__body {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.task__checkbox {
  aspect-ratio: 1 / 1;
}

.task__content {
  flex: 1;
}

.task__actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.task__delete-btn {
  height: 28px;
  cursor: pointer;
}
