.task {
  padding: 8px;
}

.task__body {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.task__checkbox {
  align-self: flex-start;
  width: 28px;
  height: 28px;
}

.task__content {
  flex: 1;
}

.task__delete-btn {
  height: 28px;
  cursor: pointer;
}
