:root {
  --bg-color-primary: #fff;
  --bg-color-secondary: #fcfaf8;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--bg-color-primary);
}

.sidebar__container {
  width: 280px;
  max-width: 420px;
  min-width: 210px;
  height: 100vh;
  background-color: var(--bg-color-secondary);
}
